In [2]:
import requests
import time
from bs4 import BeautifulSoup
from bs4 import SoupStrainer
import tqdm
import pandas as pd

In [2]:
links=pd.read_csv("list_of_articles.csv", index_col=False).reset_index(drop=True)
links.columns=("b", "a")
links=links.drop(columns=["b"])
links_list=links["a"]

In [3]:
links_list[90:120]

90     https://nyheder.tv2.dk/krimi/2012-02-15-folk-s...
91     https://search.tv2.dk?query=sygeplejerske 2012...
92     https://search.tv2.dk?query=sygeplejerske 2012...
93     https://nyheder.tv2.dk/2012-02-25-indvandrere-...
94     https://sport.tv2.dk/fodbold/2012-02-16-kolleg...
95     https://nyheder.tv2.dk/2022-04-06-han-moedte-h...
96     https://nyheder.tv2.dk/2012-02-16-arets-gang-e...
97     https://nyheder.tv2.dk/2012-02-25-hver-anden-h...
98     https://nyheder.tv2.dk/2012-02-01-sigtet-chef-...
99     https://nyheder.tv2.dk/business/2012-02-14-kap...
100    https://nyheder.tv2.dk/2012-02-29-naesehorn-in...
101    https://nyheder.tv2.dk/sundhed/2012-02-13-vita...
102    https://nyheder.tv2.dk/2012-02-15-chefers-loen...
103    https://search.tv2.dk?query=sygeplejerske 2012...
104    https://search.tv2.dk?query=sygeplejerske 2012...
105    https://nyheder.tv2.dk/2012-02-09-unge-er-mere...
106    https://nyheder.tv2.dk/krimi/2012-02-27-mogens...
107    https://nyheder.tv2.dk/2012-02-20-en-million-d...
108    https://nyheder.tv2.dk/business/2012-02-16-ny-...
109    https://nyheder.tv2.dk/2012-02-14-loenfest-paa...
110    https://sport.tv2.dk/2012-02-20-silkeborg-test...
111    https://nyheder.tv2.dk/krimi/2012-02-15-hashga...
112    https://sport.tv2.dk/2012-02-29-s%C3%A5dan-gik...
113    https://sport.tv2.dk/2012-02-22-bayern-keeper-...
114    https://sport.tv2.dk/2012-02-15-ober-vil-have-...
115    https://search.tv2.dk?query=sygeplejerske 2012...
116    https://search.tv2.dk?query=sygeplejerske 2012...
117    https://sport.tv2.dk/2012-02-26-sur-s%C3%B8d-f...
118    https://sport.tv2.dk/2012-02-08-ex-stjerne-for...
119    https://sport.tv2.dk/2012-02-01-europamester-t...
Name: a, dtype: object

In [ ]:
titles_list=[]
h2_list=[]
date_list=[]
content_list=[]
author_list=[]
sub_head_list=[]
tag_list=[]
for u in tqdm.tqdm(links_list[6000:7000]) :
    re=requests.get(u, headers={"Name" : "Oliver Fredborg Smietana" , "email": "kph383@alumni.ku.dk", "Purpose": "exam project for Copenhagen uni Course" })
    soup=BeautifulSoup(re.content, "lxml")
    try:
        title=soup.find("h1", class_="tc_heading tc_heading--2")
        titles_list.append(title.text.strip())
    except:
        titles_list.append("")

    try:
        date=soup.find("time", class_="tc_timestamp")['datetime']
        date_list.append(date)
    except:
        date_list.append("")

    try:
        h2=soup.find_all("h2", class_="tc_heading tc_heading--2")
        h2_i_list=[]
        for i in h2:
            h2_i=i.get_text()
            h2_i_list.append(h2_i)
        h2_str=" ".join(h2_i_list)
        h2_list.append(h2_str)
    except:
        h2_list.append("")

    try:
        sub_head=soup.find("p", class_="tc_page__body__standfirst")
        sub_head_list.append(sub_head.text.strip())
    except:
        sub_head_list.append("")

    try:
        author=soup.find("span", class_="tc_byline__author__text")
        author_list.append(author.text.strip())
    except:
         author_list.append("")

    try:
        content_i_list=[]
        content_i=soup.find("div", class_="tc_richcontent").find_all("p")
        for i in content_i:
            content_i_list.append(i.text.strip())
        content_str=" ".join(content_i_list)
        content_list.append(content_str)
    except:
        content_list.append("")

    try:
        tag=soup.find("a", class_="tc_label tc_label--color-base-red")
        tag_list.append(tag.text.strip())
    except:
        tag_list.append("")

    time.sleep(0.25)

 77%|███████▋  | 767/1000 [40:12<08:54,  2.30s/it]

In [27]:
content_list

["50 fingre, 50 tæer og seks hjerter, der slog\xa0i takt. Det tog ikke mere end to minutter, da den\xa026-årige australske kvinde Kimberley Tucci skulle føde fem børn. En dreng og fire piger - alle sunde og raske. Der skriver BBC News. Femlingerne er naturligt undfangede, og det hører til sjældenhederne. Chancen for at få femlinger naturligt er helt nede på omkring en til 55 millioner. Til sammenligning er chancen for at vinde i Lotto\xa0en til 8,3 millioner. Da lægerne opdagede, at der bankede fem små hjerter i maven på Kimberley Tucci, fik hun tilbuddet om at få fjernet tre af dem. På den måde ville hun komme\xa0udenom de alvorlige risicis, der er for både moderen og de ufødte børn ved en flerfødsels i den størrelsesorden. Men det ville den 26-årige kvinde ikke høre tale om. - Ingen troede, jeg kunne gøre det, men det kunne jeg, siger hun. Og det selvom hun I et interview med det australske tv-program 60 Minutes\xa0har fortalt, hvordan hun følte, at hendes krop lukkede ned under graviditeten. Hele 50 læger og sygeplejersker hjalp til med det planlagte kejsersnit tilbage i januar, og Kimberley Tucci\xa0kunne efterfølgende kalde sig en stolt mor til otte børn. Udover de nyfødte femlinger har hun\xa0og manden Vaughn i forvejen tre andre børn i alderen to, fire og ni år. Det betyder også, at det ikke er helt nemt at komme omkring for den ”lille” familie. Det krævede intet mindre end tre biler og ekstra\xa0hjælp at fragte babyerne til lægen. Det samme krævede det, da moderen ville have femlingerne foreviget hos en fotograf. Her var der\xa0fire hjælpere med til at bære børnene ind. Fotografen Erin Elizabeth Hoskins, der stod for billederne, har ikke fotograferet så mange nyfødte på én gang før. - Jeg har fotograferet mange nyfødte gennem tiden, men det her var overvældende, siger hun til TV 2. Hun nævner også, at flere har sat spørgsmålstegn ved, om de fem børn rent faktisk sover på samme tid. - Mange tror, at der er brugt Photoshop, men jeg måtte bare arbejde hurtigt, siger hun. Erin Elizabeth Hoskins beskriver besøget som ”en fornøjelse”, også fordi Kimberley Tucci ifølge hende virkede meget struktureret. Hun håber også på at få lov til at fotografere femlingerne igen, når de bliver så store, at de kan sidde. Kimberley Tuccis har delt sin historie på sin side ’Surprised by five’, som har fået over 250.000 likes på Facebook. Her er der også et link til en indsamling startet af femlinge-moderens bedstemor. Hun forsøger at samle penge sammen, så familien kan købe en bil, som de alle sammen kan være i – otte børn og to voksne. Indtil videre er der 686 personer, der har været med til at donere de næsten 21.995 dollars svarede til cirka 144.000 danske kroner. Og der er nok at bruge penge på, når man har\xa0fem spædbørn. Familien skyder på, at de skifter omkring 350 bleer på en uge. Der er ingen danske kvinder, der endnu kan prale af at være blevet mor til fem på én gang. Femlinger - og alt derover - er ekstremt sjældne, og i Danmark har vi altså ikke haft ét eneste tilfælde, siden vi begyndte at holde tal på flerfødsler i 1850. Dog bliver der født en del flere tvillinger og trillinger i dag end for bare tredive år siden. Indehaver af jordemoder.dk, Birgit Thalwitzer, peger på\xa0fertilitetsbehandlinger\xa0som årsag. - Det er klart en hovedårsag. Kvinder i fertilitetsbehandling får ofte sat mere end et æg op, og det øger chancen for en flerfødsel, siger hun. Den fødendes alder kan også spille ind. Statistikker viser at flerfødsler forekommer oftere hos helt unge piger og ældre kvinder. Gennemsnitsalderen for førstegangsfødende lå i 2015 på 29,1. At vi får en femlige-fødsel i Danmark, ser Birgit Thalwitzer som meget usandsynligt. - Det er næsten utænkeligt at forestille sig. Chancen er ekstremt lille, siger hun. Se flere billeder af de australske femlinger på fotografen Erin Elizabeth Hoskins' Facebook."]

In [29]:
#Dataframes

tv2_articles=pd.DataFrame([titles_list, sub_head_list, h2_list, content_list, author_list, tag_list, date_list, links_list]).transpose()
tv2_articles.columns=["titles", "sub_header", "h2", "content", "author", "tag", "date", "link"]
tv2_articles["tv2"]="tv2"

In [22]:
print(tv2_articles.content[0])

50 fingre, 50 tæer og seks hjerter, der slog i takt. Det tog ikke mere end to minutter, da den 26-årige australske kvinde Kimberley Tucci skulle føde fem børn. En dreng og fire piger - alle sunde og raske. Der skriver BBC News. Femlingerne er naturligt undfangede, og det hører til sjældenhederne. Chancen for at få femlinger naturligt er helt nede på omkring en til 55 millioner. Til sammenligning er chancen for at vinde i Lotto en til 8,3 millioner. Da lægerne opdagede, at der bankede fem små hjerter i maven på Kimberley Tucci, fik hun tilbuddet om at få fjernet tre af dem. På den måde ville hun komme udenom de alvorlige risicis, der er for både moderen og de ufødte børn ved en flerfødsels i den størrelsesorden. Men det ville den 26-årige kvinde ikke høre tale om. - Ingen troede, jeg kunne gøre det, men det kunne jeg, siger hun. Og det selvom hun I et interview med det australske tv-program 60 Minutes har fortalt, hvordan hun følte, at hendes krop lukkede ned under graviditeten. Hele 50 læger og sygeplejersker hjalp til med det planlagte kejsersnit tilbage i januar, og Kimberley Tucci kunne efterfølgende kalde sig en stolt mor til otte børn. Udover de nyfødte femlinger har hun og manden Vaughn i forvejen tre andre børn i alderen to, fire og ni år. Det betyder også, at det ikke er helt nemt at komme omkring for den ”lille” familie. Det krævede intet mindre end tre biler og ekstra hjælp at fragte babyerne til lægen. Det samme krævede det, da moderen ville have femlingerne foreviget hos en fotograf. Her var der fire hjælpere med til at bære børnene ind. Fotografen Erin Elizabeth Hoskins, der stod for billederne, har ikke fotograferet så mange nyfødte på én gang før. - Jeg har fotograferet mange nyfødte gennem tiden, men det her var overvældende, siger hun til TV 2. Hun nævner også, at flere har sat spørgsmålstegn ved, om de fem børn rent faktisk sover på samme tid. - Mange tror, at der er brugt Photoshop, men jeg måtte bare arbejde hurtigt, siger hun. Erin Elizabeth Hoskins beskriver besøget som ”en fornøjelse”, også fordi Kimberley Tucci ifølge hende virkede meget struktureret. Hun håber også på at få lov til at fotografere femlingerne igen, når de bliver så store, at de kan sidde. Kimberley Tuccis har delt sin historie på sin side ’Surprised by five’, som har fået over 250.000 likes på Facebook. Her er der også et link til en indsamling startet af femlinge-moderens bedstemor. Hun forsøger at samle penge sammen, så familien kan købe en bil, som de alle sammen kan være i – otte børn og to voksne. Indtil videre er der 686 personer, der har været med til at donere de næsten 21.995 dollars svarede til cirka 144.000 danske kroner. Og der er nok at bruge penge på, når man har fem spædbørn. Familien skyder på, at de skifter omkring 350 bleer på en uge. Der er ingen danske kvinder, der endnu kan prale af at være blevet mor til fem på én gang. Femlinger - og alt derover - er ekstremt sjældne, og i Danmark har vi altså ikke haft ét eneste tilfælde, siden vi begyndte at holde tal på flerfødsler i 1850. Dog bliver der født en del flere tvillinger og trillinger i dag end for bare tredive år siden. Indehaver af jordemoder.dk, Birgit Thalwitzer, peger på fertilitetsbehandlinger som årsag. - Det er klart en hovedårsag. Kvinder i fertilitetsbehandling får ofte sat mere end et æg op, og det øger chancen for en flerfødsel, siger hun. Den fødendes alder kan også spille ind. Statistikker viser at flerfødsler forekommer oftere hos helt unge piger og ældre kvinder. Gennemsnitsalderen for førstegangsfødende lå i 2015 på 29,1. At vi får en femlige-fødsel i Danmark, ser Birgit Thalwitzer som meget usandsynligt. - Det er næsten utænkeligt at forestille sig. Chancen er ekstremt lille, siger hun. Se flere billeder af de australske femlinger på fotografen Erin Elizabeth Hoskins' Facebook.

In [23]:
print(links_list[4000])

https://nyheder.tv2.dk/udland/2016-05-11-foedte-fem-boern-paa-to-minutter

In [30]:
tv2_articles.to_csv("articles_tv2", index=False)

In [ ]:
links[0:3]

In [1]:
import pandas as pd
import glob
import os

In [5]:
files = os.path.join("/Users/oliver/Dekstop/isds29/Projekt/tv2", "articles_tv2*.csv")

In [7]:
files = glob.glob(files)

In [8]:
articles_tv2 = pd.concat(map(pd.read_csv, files), ignore_index=True)

ValueError: No objects to concatenate

In [83]:

tv2_articles1=pd.read_csv("articles_tv2_01", index_col=False).reset_index(drop=True)


links=tv2_articles1["link"]
link=pd.DataFrame(links)
tv2_articles1=tv2_articles1[0:1000]
tv2_articles1=tv2_articles1.drop(["link"], axis=1)

tv2_articles1

tv2_articles2=pd.read_csv("articles_tv2_02", index_col=False).reset_index(drop=True)
tv2_articles2=tv2_articles2[1000:4000]
tv2_articles2=tv2_articles2.dropna(subset=["titles"])
tv2_articles2=tv2_articles2.drop(["link"], axis=1)
tv2_articles2

tv2_articles3=pd.read_csv("articles_tv2_03", index_col=False).reset_index(drop=True)
tv2_articles3=tv2_articles3[4000:5000]
tv2_articles3=tv2_articles3.drop(["link"], axis=1)
tv2_articles3=tv2_articles3.dropna(subset=["titles"])
tv2_articles3

tv2_articles4=pd.read_csv("articles_tv2_04", index_col=False).reset_index(drop=True)
tv2_articles4=tv2_articles4[5000:6000]
tv2_articles4=tv2_articles4.drop(["link"], axis=1)
tv2_articles4=tv2_articles4.dropna(subset=["titles"])
tv2_articles4

tv2_articles5=pd.read_csv("articles_tv2_05", index_col=False).reset_index(drop=True)
tv2_articles5=tv2_articles5[6000:7000]
tv2_articles5=tv2_articles5.dropna(subset=["titles"])
tv2_articles5=tv2_articles5.drop(["link"], axis=1)
tv2_articles5

tv2_articles6=pd.read_csv("articles_tv2_06", index_col=False).reset_index(drop=True)
tv2_articles6=tv2_articles6[7000:]
tv2_articles6=tv2_articles6.dropna(subset=["titles"])
tv2_articles6=tv2_articles6.drop(["link"], axis=1)
tv2_articles6

tv2_articles2

,titles,sub_header,h2,content,author,tag,date,link,tv2
1000,Ebola-smittet kvinde oplyste om feber før flyv...,NaN,NaN,"Den anden amerikanske sygeplejerske, som er bl...",NaN,Udland,2014-10-16T01:50:01.000Z,https://nyheder.tv2.dk/krimi/2012-08-28-blodpr...,tv2
1001,IT-system stresser sygeplejersker på 1813,NaN,Arbejdsmiljø skal forbedres Det går fremad men...,Når sygeplejersker på Akuttelefonen 1813 skal ...,NaN,NaN,2014-03-27T07:37:37.000Z,https://nyheder.tv2.dk/business/2012-09-06-se-...,tv2
1002,Sidste flotte forårsdag - i denne omgang,NaN,NaN,Efter en fantastisk start på ugen med sol og f...,Anders Brandt,NaN,2014-03-13T08:03:00.000Z,https://nyheder.tv2.dk/krimi/2012-04-02-fem-vi...,tv2
1003,Dronning Elizabeth hylder ebola-frivillige i j...,NaN,NaN,Den engelske monarks julebudskab høres af mill...,NaN,Udland,2014-12-25T02:48:01.000Z,https://nyheder.tv2.dk/udland/2012-12-07-bortv...,tv2
1004,Avis: Videobøddel fra Islamisk Stat såret i lu...,NaN,NaN,"Den maskerede mand, som angiveligt udførte de ...",NaN,Udland,2014-11-16T02:12:01.000Z,https://search.tv2.dk?query=sygeplejerske 2012...,tv2
...,...,...,...,...,...,...,...,...,...
2994,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,https://search.tv2.dk?query=sygeplejerske 2015...,tv2
2995,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,https://nyheder.tv2.dk/samfund/2015-05-10-pati...,tv2
2997,Donald Trump vinder store svingstater - Clinto...,Donald Trumps vej til sejr er banet med sejre ...,Trumph vinder North Carolina Afgørelse trækker ud,"Republikanernes præsidentkandidat, Donald Trum...",NaN,Donald Trump,2016-11-09T03:40:01.000Z,https://nyheder.tv2.dk/udland/2015-05-18-sygep...,tv2
2998,Farverige Boris Johnson ny udenrigsminister: H...,Boris Johnson bliver ny udenrigsminister i UK....,Sagt om... Skandalerne preller af,Han bliver betegnet som en af Storbritanniens ...,NaN,Udland,2016-07-14T04:58:17.000Z,https://nyheder.tv2.dk/samfund/2015-05-18-vagt...,tv2
2999,Argentinas VM-drøm lever efter Messi-show mod ...,Med en 3-0-sejr mod Colombia har Argentina nu ...,NaN,Argentina vinder en tiltrængt sejr på 3-0 over...,NaN,NaN,2016-11-16T01:35:01.000Z,https://nyheder.tv2.dk/udland/2015-05-25-travi...,tv2

In [121]:

tv2_articles1=pd.read_csv("articles_tv2_01", index_col=False).reset_index(drop=True)


links=tv2_articles1["link"]
link=pd.DataFrame(links)
tv2_articles1=tv2_articles1[0:1000]
tv2_articles1=tv2_articles1.drop(["link"], axis=1)

tv2_articles1

tv2_articles2=pd.read_csv("articles_tv2_02", index_col=False).reset_index(drop=True)
tv2_articles2=tv2_articles2[:3000]
tv2_articles2=tv2_articles2.drop(["link"], axis=1)
tv2_articles2

tv2_articles3=pd.read_csv("articles_tv2_03", index_col=False).reset_index(drop=True)
tv2_articles3=tv2_articles3[:1000]
tv2_articles3=tv2_articles3.drop(["link"], axis=1)
tv2_articles3

tv2_articles4=pd.read_csv("articles_tv2_04", index_col=False).reset_index(drop=True)
tv2_articles4=tv2_articles4[0:1000]
tv2_articles4=tv2_articles4.drop(["link"], axis=1)
tv2_articles4

tv2_articles5=pd.read_csv("articles_tv2_05", index_col=False).reset_index(drop=True)
tv2_articles5=tv2_articles5[0:1000]
tv2_articles5=tv2_articles5.drop(["link"], axis=1)
tv2_articles5

tv2_articles6=pd.read_csv("articles_tv2_06", index_col=False).reset_index(drop=True)
tv2_articles6=tv2_articles6[0:1758]
tv2_articles6=tv2_articles6.drop(["link"], axis=1)
tv2_articles6

tv2_articles6

,titles,sub_header,h2,content,author,tag,date,tv2
0,Dagens overblik: Dansk Tour de France-start i ...,Danmark fraråder ikke-nødvendige rejser til Bu...,Tvivl om dansk Tour-start Stigning i dansk smi...,I Frankrig var to børn fanget i en brændende b...,NaN,Dagens overblik,2020-07-23T18:47:30.000Z,tv2
1,Dagens nyheder 23. juli,NaN,NaN,"Vi giver dig dagens nyheder, mens de sker. Du ...",Christoffer Løvstrup Bagge,Nyheder,2020-07-23T03:02:19.000Z,tv2
2,Første gang i fire år: Flere er optaget på pæd...,Med 4955 personer er pædagoguddannelsen den ud...,NaN,Antallet af optagne på landets pædagoguddannel...,NaN,Samfund,2020-07-27T17:46:29.000Z,tv2
3,Hvorfor afholder I 'Knæk Cancer LIVE' under co...,På grund af coronavirussen bliver 'Knæk Cancer...,NaN,Coronavirussen har vendt op og ned på hele sam...,NaN,Knæk Cancer,2020-10-24T05:18:04.000Z,tv2
4,Mens smittetallene bare stiger og stiger i USA...,De høje smittetal gør flere amerikanske epidem...,Overvældet sundhedssystem PERSPEKTIV Trump: Ma...,Først 40.000 i slutningen af juni. Så 55.000 f...,NaN,Coronavirus,2020-07-10T17:03:20.000Z,tv2
...,...,...,...,...,...,...,...,...
1753,Giffords udskrevet fra hospital,NaN,Forsvarligt at flytte hende,Det amerikanske kongresmedlem Gabrielle Giffor...,marb / ritzau,Udland,2011-01-21T18:28:00.000Z,tv2
1754,Robotter og computere vil tage hvert tredje da...,NaN,Disse job er truet HK-Privat ønsker en reform,Et sted mellem 800.000 og 879.000 - rundt regn...,tjse@tv2.dk,Business,2015-11-04T06:55:58.000Z,tv2
1755,Dagens overblik: Restriktioner forlænges reste...,"Danske skiturister fester i nedlukket Østrig, ...",Restriktioner forlænges - små skoleklasser mås...,"Selv om smittetallene falder, og antallet af i...",NaN,Dagens overblik,2021-01-28T19:47:39.000Z,tv2
1756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tv2
1757,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,tv2

In [122]:
articles_tv2=pd.concat([tv2_articles1, tv2_articles2, tv2_articles3, tv2_articles4, tv2_articles5, tv2_articles6], axis=0).reset_index(drop=True)

In [110]:
link

                                                   link
0     https://nyheder.tv2.dk/2012-01-27-paa-jagt-eft...
1     https://nyheder.tv2.dk/business/2012-01-19-dan...
2     https://nyheder.tv2.dk/udland/2012-04-02-syv-e...
3     https://nyheder.tv2.dk/krimi/2012-03-08-42aari...
4     https://nyheder.tv2.dk/udland/2012-04-22-sudan...
...                                                 ...
8753  https://nyheder.tv2.dk/udland/2011-01-21-giffo...
8754  https://nyheder.tv2.dk/business/2015-11-04-rob...
8755  https://nyheder.tv2.dk/2021-01-28-dagens-overb...
8756  https://tvtid.tv2.dk/nytomtv/article.php/id-38...
8757  https://search.tv2.dk?query=sygeplejerske 2022...

[8758 rows x 1 columns]

In [123]:
articles_tv2["links"]=link["link"]

In [48]:
tv2_articles2=pd.read_csv("articles_tv2_02", index_col=False).reset_index(drop=True)
tv2_articles1

,titles,sub_header,h2,content,author,tag,date,tv2
0,På jagt efter danske sygeplejersker,NaN,"Dansk sygeplejeråd: ""What a waste"" Flere sygep...","Mens nyuddannede, danske sygeplejersker har me...","Natali Braagaard, nabr@tv2.dk",Nyheder,2012-01-27T04:57:00.000Z,tv2
1,Danske sygeplejersker får job i Norge,NaN,NaN,"Antallet af danske sygeplejersker, der har fåe...",Ritzau/meng,Business,2012-01-19T12:38:23.000Z,tv2
2,Syv er dræbt i amerikansk skoleskyderi,Syv er dræbt og tre såret ved et skoleskyderi ...,NaN,En bevæbnet mand har skudt og dræbt syv person...,ritzau,Udland,2012-04-02T23:31:00.000Z,tv2
3,42-årig cyklist overlever påkørsel,NaN,NaN,Læger kæmpede natten til torsdag for at redde ...,ritzau / ptho,Krimi,2012-03-08T00:25:00.000Z,tv2
4,Sudan hævder at have dræbt over 400,Sudan påstår at have dræbt hundredvis af nabol...,NaN,Sudanske tropper har de seneste dage dræbt ove...,ritzau,Udland,2012-04-22T23:51:02.000Z,tv2
...,...,...,...,...,...,...,...,...
995,Sygeplejersker advarer mod sygehusvagter,NaN,Opfordrer til dialog,Vagter på landets sygehuse vil ikke kunne forh...,ritzau / ricb,Nyheder,2012-08-21T10:50:00.000Z,tv2
996,Telefonfissag: Sygeplejerske havde forsøgt sel...,NaN,Udgav sig for at være royale,"Sygeplejersken, som begik selvmord efter at væ...",ritzau / marb,Udland,2012-12-23T12:38:00.000Z,tv2
997,Sygeplejerske død efter telefonfis om Kate,NaN,Radioværter lavede telefonfis Spekulationer om...,Pressen er muligvis indblandet i en tragedie p...,ritzau / ants,Udland,2012-12-07T16:44:00.000Z,tv2
998,Papirer tager tid fra patienter,NaN,NaN,Danske sygeplejersker laver papirmæssigt dobbe...,kasj,Nyheder,2012-02-08T11:47:58.000Z,tv2
999,Familie til sygeplejerske: Hun var sød og kærlig,NaN,NaN,I England står familien til en afdød sygepleje...,"David Buch, Kristian Hedegaard",Udland,2012-12-10T22:49:00.000Z,tv2

In [128]:
articles_tv2.tail(20)

,titles,sub_header,h2,content,author,tag,date,tv2,links
8738,Flyselskab frygter: Var ebola-ramt sygeplejesk...,NaN,NaN,"Der er risiko for, at den amerikanske sygeplej...",NaN,Udland,2014-10-17T16:21:33.000Z,tv2,https://nyheder.tv2.dk/udland/2014-10-17-flyse...
8739,FTF: Efterløn bedre end topskat,NaN,Kruckow afviser topskatte-forslag Topskatten h...,"Sygeplejersker og betjente vil arbejde mere, h...",lisk+ritzau,Politik,2008-12-16T13:31:15.000Z,tv2,https://nyheder.tv2.dk/politik/2008-12-16-ftf-...
8740,Store forskelle i sygehuses overbelægning,NaN,NaN,De nyeste tal fra Statens Serum Institut bekræ...,NaN,Samfund,2013-12-17T05:43:56.000Z,tv2,https://nyheder.tv2.dk/samfund/2013-12-17-stor...
8741,Denne kvinde tager imod de udmattede flygtninge,NaN,Forventning og bekymring på samme tid,Der er sket en stigning i antallet af personer...,NaN,Udland,2015-08-27T11:11:03.000Z,tv2,https://nyheder.tv2.dk/udland/2015-08-27-denne...
8742,Ny viden: Sejlivet ebola-virus findes i raske ...,NaN,Britisk sygeplejerske syg på ny Chokeret over ...,"Ny forskning viser, at ebolavirussen er væsent...",NaN,Udland,2015-10-15T21:08:08.000Z,tv2,https://nyheder.tv2.dk/udland/2015-10-15-ny-vi...
8743,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,tv2,https://search.tv2.dk?query=sygeplejerske 2022...
8744,Søg på TV 2,NaN,NaN,"Tilret din søgning i feltet ovenfor og tryk ""S...",NaN,NaN,NaN,tv2,https://search.tv2.dk?query=sygeplejerske 2022...
8745,Senest nyt om coronavirus 25. januar 2021,NaN,NaN,TV2.dk giver dig seneste nyt om coronavirussen...,Emma Klinker Stephensen,Coronavirus,2021-01-25T04:10:34.000Z,tv2,https://nyheder.tv2.dk/2021-01-25-senest-nyt-o...
8746,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,tv2,https://search.tv2.dk?query=sygeplejerske 2022...
8747,Mette Frederiksen i hasteforespørgsel om udsku...,NaN,NaN,Hvad sker der? Statsminister Mette Frederiksen...,NaN,Politik,2022-01-12T11:41:54.000Z,tv2,https://nyheder.tv2.dk/2022-01-12-mette-freder...
8748,Hospital fejlbehandlede kræftpatient – der ske...,Situationen i Aarhus er billedet på danske syg...,Indlagt længere end nødvendigt Der er ikke ske...,Et usundt arbejdsmiljø har ført til flere fejl...,NaN,Samfund,2022-06-04T10:02:37.000Z,tv2,https://nyheder.tv2.dk/samfund/2022-06-03-hosp...
8749,"Politi om forsvunden 22-årig: - Vi ved ikke, h...",Politiet har fået mange henvendelser om en mør...,Omsorgsfuld kvinde Op til 100 henvendelser Opl...,"Opdatering: Kvinden efterlyses ikke længere, d...",NaN,Krimi,2022-02-07T21:16:13.000Z,tv2,https://nyheder.tv2.dk/krimi/2022-02-07-politi...
8750,PTSD-ramte veteraner og udsatte unge skyder le...,"Ny rapport viser, at unges mentale helbred er ...",Veteraner bliver mentorer Mental mistrivsel Ud...,Kuglen borede sig ned i jorden lige foran ham....,NaN,TV 2 ECHO,2022-03-24T11:29:16.000Z,tv2,https://nyheder.tv2.dk/samfund/2022-03-21-ptsd...
8751,Nu mister kvinderne jobbet,NaN,NaN,"Pædagoger, sygeplejersker og sosu-hjælpere bli...",ritzau / jely,Nyheder,2011-11-29T04:50:00.000Z,tv2,https://nyheder.tv2.dk/2011-11-29-nu-mister-kv...
8752,Pia Olsen Dyhr: - Danmark kan ikke længere vær...,Danmark kan ikke stå udenfor eller lade de and...,Verden har forandret sig Store klapsalver i sa...,"Det var så langt over grænsen, at de færreste ...",NaN,Politik,2022-03-19T11:03:30.000Z,tv2,https://nyheder.tv2.dk/politik/2022-03-19-pia-...
8753,Giffords udskrevet fra hospital,NaN,Forsvarligt at flytte hende,Det amerikanske kongresmedlem Gabrielle Giffor...,marb / ritzau,Udland,2011-01-21T18:28:00.000Z,tv2,https://nyheder.tv2.dk/udland/2011-01-21-giffo...
8754,Robotter og computere vil tage hvert tredje da...,NaN,Disse job er truet HK-Privat ønsker en reform,Et sted mellem 800.000 og 879.000 - rundt regn...,tjse@tv2.dk,Business,2015-11-04T06:55:58.000Z,tv2,https://nyheder.tv2.dk/business/2015-11-04-rob...
8755,Dagens overblik: Restriktioner forlænges reste...,"Danske skiturister fester i nedlukket Østrig, ...",Restriktioner forlænges - små skoleklasser mås...,"Selv om smittetallene falder, og antallet af i...",NaN,Dagens overblik,2021-01-28T19:47:39.000Z,tv2,https://nyheder.tv2.dk/2021-01-28-dagens-overb...
8756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tv2,https://tvtid.tv2.dk/nytomtv/article.php/id-38...
8757,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,tv2,https://search.tv2.dk?query=sygeplejerske 2022...

In [129]:
articles_tv2.to_csv("articles_tv2.csv", index=False)

In [28]:
tv2_articles12=tv2_articles1.merge(tv2_articles2, on="link", how="inner" )
tv2_articles12

,titles_x,sub_header_x,h2_x,content_x,author_x,tag_x,date_x,link,tv2_x,titles_y,sub_header_y,h2_y,content_y,author_y,tag_y,date_y,tv2_y
0,På jagt efter danske sygeplejersker,NaN,"Dansk sygeplejeråd: ""What a waste"" Flere sygep...","Mens nyuddannede, danske sygeplejersker har me...","Natali Braagaard, nabr@tv2.dk",Nyheder,2012-01-27T04:57:00.000Z,https://nyheder.tv2.dk/2012-01-27-paa-jagt-eft...,tv2,Blodproppatient flygtede under OUH-optøjer,NaN,NaN,Da 60 til 70 aggressive mænd i sidste uge stor...,krja,Krimi,2012-08-28T10:58:00.000Z,tv2
1,På jagt efter danske sygeplejersker,NaN,"Dansk sygeplejeråd: ""What a waste"" Flere sygep...","Mens nyuddannede, danske sygeplejersker har me...","Natali Braagaard, nabr@tv2.dk",Nyheder,2012-01-27T04:57:00.000Z,https://nyheder.tv2.dk/2012-01-27-paa-jagt-eft...,tv2,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,tv2
2,På jagt efter danske sygeplejersker,NaN,"Dansk sygeplejeråd: ""What a waste"" Flere sygep...","Mens nyuddannede, danske sygeplejersker har me...","Natali Braagaard, nabr@tv2.dk",Nyheder,2012-01-27T04:57:00.000Z,https://nyheder.tv2.dk/2012-01-27-paa-jagt-eft...,tv2,Blodproppatient flygtede under OUH-optøjer,NaN,NaN,Da 60 til 70 aggressive mænd i sidste uge stor...,krja,Krimi,2012-08-28T10:58:00.000Z,tv2
3,På jagt efter danske sygeplejersker,NaN,"Dansk sygeplejeråd: ""What a waste"" Flere sygep...","Mens nyuddannede, danske sygeplejersker har me...","Natali Braagaard, nabr@tv2.dk",Nyheder,2012-01-27T04:57:00.000Z,https://nyheder.tv2.dk/2012-01-27-paa-jagt-eft...,tv2,Søg på TV 2,NaN,NaN,NaN,NaN,NaN,NaN,tv2
4,Danske sygeplejersker får job i Norge,NaN,NaN,"Antallet af danske sygeplejersker, der har fåe...",Ritzau/meng,Business,2012-01-19T12:38:23.000Z,https://nyheder.tv2.dk/business/2012-01-19-dan...,tv2,Se om du vinder eller taber på skattereformen,"Finansministeriet har offentliggjort tal, som ...",NaN,Ifølge Finansministeriets beregninger vil 26 f...,Ritzau bjah@tv2.dk,Business,2012-09-06T10:53:00.000Z,tv2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://search.tv2.dk?query=sygeplejerske 2022...,tv2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tv2
15380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://nyheder.tv2.dk/2011-11-29-nu-mister-kv...,tv2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tv2
15381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://nyheder.tv2.dk/udland/2011-01-21-giffo...,tv2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tv2
15382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://tvtid.tv2.dk/nytomtv/article.php/id-38...,tv2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tv2
15383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://search.tv2.dk?query=sygeplejerske 2022...,tv2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tv2

In [1]:
tv2_articles1=pd.read_csv("articles_tv2_01.csv", index_col=False).reset_index(drop=True)
tv2_articles1

NameError: name 'pd' is not defined